# Visual Studio
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio 2015/2017
.vs/

# Build results
[Dd]ebug/
[Rr]elease/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates